extends ../layouts/layout

append content
  h1 !{title}
  -var course = item
  -if(item.type)
  form(method="post",
    action="/courses/"+course._id+"/update",
    enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span6
        !{i18nTextInput('Name', 'name', 'required', course.name)}
        .control-group
          select(name="type")
            !{typeComboOption(item.type, 'HTML5')}
            !{typeComboOption(item.type, 'Spring')}
            !{typeComboOption(item.type, 'Javaspecialists')}
      .span6
        .control-group
          label Picture
          img(src="thumb")
          input(type="file", name="thumb")
          !{i18nTextArea('Description', 'description', 'class="description-input"', course.description)}    
    .row-fluid
      button(type="submit").btn.btn-info Submit
      a(href="/courses").btn.btn-warning Cancel
  form(method="post",
    action="/courses/"+course._id+"/delete").row-fluid
    button(type="submit").btn.btn-danger.btn-large.pull-right Delete

  include ../includes/editions-list