extends ../layouts/layout

include ../includes/admin-mixins

append content
  h1 !{title}
  -var course = item
  -if(item.type)
  form(method="post",
    action="/courses/"+course._id+"/update",
    enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span8
        ul.nav.nav-tabs
          -appLocales.forEach(function (locale) {
            li
              a(data-toggle="tab", href="#fields-"+locale) !{locale}
          -});
        .tab-content
          -appLocales.forEach(function (locale) {
            .tab-pane(id='fields-'+locale)
              mixin i18nTextInput(locale, 'Name', 'name', 'required', course.name)
              mixin i18nTextarea(locale, 'Description', 'description', course.description)
              mixin i18nTextarea(locale, 'Voucher', 'voucher', course.voucher)
          -})
      .span4
        .control-group
          label Show Id in Koliseo&trade;
          input(type="text", name="show", value=course.show)
        .control-group
          label Type
          select(name="type")
            mixin typeComboOption(item.type, 'HTML5')
            mixin typeComboOption(item.type, 'Spring')
            mixin typeComboOption(item.type, 'Javaspecialists')
        .control-group
          label Url
          input(type="text", name="url", value=course.url)
        .control-group
          label Price
          input(type="number", name="price", value=course.price)
        .control-group
          label Duration (hours)
          input(type="number", name="duration", value=course.duration)
        .control-group
          label Picture
          img(src="thumb")
          input(type="file", name="thumb")
    .row-fluid
      button(type="submit").btn.btn-info Submit
      a(href="/courses").btn.btn-warning Cancel
  form(method="post",
    action="/courses/"+course._id+"/delete").row-fluid
    button(type="submit").btn.btn-danger.btn-large.pull-right Delete

  include ../includes/editions-list

append scripts
  script
    $('#fields-en').addClass('active');
    $('li > a[href="#fields-en"]').parent().addClass('active');