-var edition = item;
- var formatCombos = function (label, name, list, or) {
- var combo = '<div class="control-group">';
- combo += '<label>' + label + '</label>';
- combo += '<select name="' + name + '">';

- for(i in list) {
-   if(list[i].id === edition[name].id) {
-     combo += '<option selected="selected" label="' + list[i].name + '">' + list[i].id + '</option>';
-   } else {
-     combo += '<option label="' + list[i].name + '">' + list[i].id + '</option>';
-   }
-}
- 
- combo += '</select></div>'
- return combo;
-}
h1 !{title}
form(method="post",
  action="/editions/" + edition.id + "/update").form-horizontal.row-fluid
  .span6
    .control-group
      label Date
      input(type="date", name="date", value=edition.date)
    !{formatCombos('Venue', 'venue', venues, origin.venues)}
  .span6
    !{formatCombos('Course', 'course', courses, origin.courses)}
    !{formatCombos('Instructor', 'instructor', members, origin.team)}
  input(type="hidden", name="origin", value=origin.address)
  div
    button(type="submit").btn.btn-info Update
    a(href=origin.address).btn.btn-warning Cancel
form(method="post",
  action="/editions/" + edition.id + "/delete").row-fluid
  input(type="hidden", name="origin", value=origin.address)
  button(type="submit").btn.btn-large.btn-danger.pull-right Delete
