-var edition = item;
h1 !{title}
form(method="post",
  action="/editions/" + edition._id + "/update").form-horizontal.row-fluid
  .span6
    .control-group
      label Date
      input(type="date", name="date", value=edition.date)
    !{formatCombos('Venue', 'venue', venues, origin.venues, edition.venue)}
  .span6
    !{formatCombos('Course', 'course', courses, origin.courses, edition.course)}
    !{formatCombos('Instructor', 'instructor', members, origin.team, edition.instructor)}
  input(type="hidden", name="origin", value=origin.address)
  div
    button(type="submit").btn.btn-info Update
    a(href=origin.address).btn.btn-warning Cancel
form(method="post",
  action="/editions/" + edition._id + "/delete").row-fluid
  input(type="hidden", name="origin", value=origin.address)
  button(type="submit").btn.btn-large.btn-danger.pull-right Delete
