extends ../layouts/layout

append content
  h1 !{title}
  -var member = item
  form(method="post",
    action="/team/"+member._id+"/update",
    enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span4
        .control-group
          label Name
          input(type="text", name="name", required, value=member.name)
        .control-group
          label E-mail
          input(type="email", name="email", value=member.email)
        .control-group
          label Type
          select(name="type")
            !{typeComboOption(member.type, 'IT')}
            !{typeComboOption(member.type, 'Management')}
      .span4
        .control-group
          label Picture
          img(src="thumb")
          input(type="file", name="thumb")
          !{i18nTextArea('Description', 'description', 'class="description-input"', member.description)}
      .span4
        label
          h4 Social links
        .control-group
          label Twitter 
          input(type="text", name="twitter", placeholder="@user", value=member.twitter)
        .control-group
          label Blog 
          input(type="text", name="blog", value=member.blog)
        .control-group
          label Linkedin
          input(type="text", name="linkedin", value=member.linkedin)
    .row-fluid      
      button(type="submit").btn.btn-info Submit
      a(href="/team").btn.btn-warning Cancel
  form(method="post",
    action="/team/"+member._id+"/delete").row-fluid
    button(type="submit").btn.btn-danger.btn-large.pull-right Delete

  include ../includes/editions-list