h1 !{title}
-var member = item
form(method="post", action="/team/"+member._id+"/update",enctype="multipart/form-data").form-horizontal
  .row-fluid
    .span4
      .control-group
        label Name
        input(type="text", name="name", required, value=member.name)
      .control-group
        label E-mail
        input(type="email", name="email", value=member.email)
      .control-group
        label Type
        -if(member.type == 'IT') {
        select(name="type")
          option(selected="selected") IT
          option Management
        -}
        -else {
          select(name="type")
           option IT
           option(selected="selected") Management
        -}
    .span4
      .control-group
        label Picture
        img(src="thumb")
        input(type="file", name="picture")
      .control-group
        label Description (english)
        textarea(name="description_en", style="resize:vertical") !{member.description_en}
      .control-group
        label Description (spanish)
        textarea(name="description_es", style="resize:vertical") !{member.description_es}
    .span4
      label
        h4 Social links
      .control-group
        label Twitter 
        input(type="text", name="twitter", placeholder="@user", value=member.twitter)
      .control-group
        label Blog 
        input(type="text", name="blog", value=member.blog)
      .control-group
        label Linkedin
        input(type="text", name="linkedin", value=member.linkedin)
  div
    button(type="submit").btn.btn-info Submit
    a(href="/team").btn.btn-warning Cancel
form(method="post", action="/team/"+member._id+"/delete", style="float:right")
  button(type="submit").btn.btn-danger.btn-large Delete