extends ../layouts/layout

include ../includes/admin-mixins

append content
  h1 !{title}
  -var member = item
  form(method="post",
    action="/team/"+member._id+"/update",
    enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span4
        .control-group
          label Name
          input(type="text", name="name", required, value=member.name)
        .control-group
          label E-mail
          input(type="email", name="email", value=member.email)
        .control-group
          label Tags
          textarea(id="textarea", name="tags")
        .control-group
          | Format: 'tag name:tag class'</br>
          span.label.label-default default 
          | &nbsp;
          span.label.label-success success
          | &nbsp;
          span.label.label-info info
          | &nbsp;          
          span.label.label-warning warning
          | &nbsp;
          span.label.label-important important
          | &nbsp;
          span.label.label-inverse inverse
          | </br></br>
          div
            input(type="text", id="tagname", placeholder="E.g.: Sexy:warning")
            a(id="addtag").btn Click to add tag
          ul(style="display: none")#previous-tags
            -member.tags.forEach(function (tag) {
              li !{tag}
            -})
        .control-group
          label Picture
          img(src="thumb")
          input(type="file", name="thumb")  
      .span4
          mixin i18nTextarea('Description', 'description', 'class="description-input"', member.description)
      .span4
        label
          h4 Social links
        .control-group
          label Twitter 
          input(type="text", name="twitter", placeholder="User name", value=member.twitter)
        .control-group
          label Blog 
          input(type="text", name="blog", value=member.blog)
        .control-group
          label Linkedin
          input(type="text", name="linkedin", value=member.linkedin)
    .row-fluid      
      button(type="submit").btn.btn-info Submit
      a(href="/team").btn.btn-warning Cancel
  form(method="post",
    action="/team/"+member._id+"/delete").row-fluid
    button(type="submit").btn.btn-danger.btn-large.pull-right Delete

  include ../includes/editions-list

append scripts
  script(src="/javascripts/textext.js", type="text/javascript", charset="utf-8")
  script(type="text/javascript")

    $('#textarea').textext({ plugins: 'tags' });

    var previous = $('#previous-tags > li').map(function(i) {
      return $('#previous-tags > li:nth-child(' + (i+1) + ')').html()
    })

    $('#textarea').textext()[0].tags().addTags(previous);

    $('#addtag').bind('click', function(e)
    {

        var tag = $('#tagname').val();
        if(tag.split(':').length === 1) 
          tag = tag.concat(':default')

        $('#textarea').textext()[0].tags().addTags([ tag ]);


        $('#tagname').val('');
    });