h1 !{title}
-var venue = item
form(method="post",
  action="/venues/"+venue._id+"/update",
  enctype="multipart/form-data").form-horizontal
  .row-fluid
    .span6
      .control-group
        label Name
        input(type="text", name="name", required, value=venue.name)
      .control-group
        label Address
        input(type="text", name="address", value=venue.address)
    .span6
      .control-group
        label Picture
        img(src="thumb")
        input(type="file", name="picture")
  .row-fluid
    button(type="submit").btn.btn-info Submit
    a(href="/venues").btn.btn-warning Cancel
form(method="post",
  action="/venues/"+venue._id+"/delete").row-fluid
  button(type="submit").btn.btn-danger.btn-large.pull-right Delete

-var editions = venue.editions;
h2 Editions
.row-fluid
  .span12
    table.table.table-striped
      thead
        tr
          th Date
          th Course
          th Instructor
      tbody
      -for (var i in editions)
        tr
          td 
            !{editions[i].date}
          td
            !{editions[i].course.name}
          td
            !{editions[i].instructor.name}
  form(method="post", action="/editions/new")
    input(name="venue", type="hidden", value=venue._id)
    button(type="submit").btn New