mixin courseContent(type)
  .courses-list
    for course in courses
      -if(course.type === type) {
        article.course-item
          h1.course-h !{course.name[lang]}
          //- .alert.course-details
          //-   !{course.price + ' EUR<br>' + course.duration + ' ' + __('hours')}</p>
          //- img(src="/courses/" + course._id + "/thumb")
          !{course.description[lang]}
          nav.course-toolbar
            a.btn.btn-large(href="/courses/" + course.url) !{__('course-contents')}
            a.btn.btn-success.btn-large(href=course.show, target="_blank") !{__('buy-tickets')}
            a(href="/contact").more-info &raquo; !{__('more-info')}
          -if(course.voucher[lang]) {
            aside.voucher(class="voucher-" + type.toLowerCase())
              p !{course.voucher[lang]}
          -}
          -if(user) {
            a.btn(href="/courses/" + course._id + "/edit") Edit
          -}
      -}

mixin courseTab(type, id)
  li
    a(href="#" + id, data-toggle="tab").course-pill-a= type

mixin courseNumbers(price, duration)
  p.detail <b>!{price} EUR</b> · <b>!{duration + ' ' + __('hours')}</b>
