mixin courseContent(type)
  .row-fluid
    ul.courses-list.span12
      for course in courses
        -if(course.type === type) {
          li.course-item
            h4 !{course.name[lang]}
            .course-details
              !{course.price + ' EUR &middot; ' + course.duration + ' ' + __('hours')}
            //- img(src="/courses/" + course._id + "/thumb")
            !{course.description[lang]}
            .course-toolbar
              a.btn.btn-large(href="/courses/" + course.url) !{__('course-contents')}
              a.btn.btn-success.btn-large(href=course.show) !{__('buy-tickets')}
              a(href="/contact").more-info &raquo; !{__('more-info')}
            -if(course.voucher[lang]) {
              .voucher(class="voucher-" + type.toLowerCase())
                p !{course.voucher[lang]}
            -}
            -if(user) {
              a.btn(href="/courses/" + course._id + "/edit") Edit
            -}
        -}

mixin courseTab(type, id)
  li
    a(href="#" + id, data-toggle="tab")= type