include ../includes/navbar-mixins
include ../includes/cookie-permission

!!!
html
  head
    block head
      title= title

      meta(charset="utf-8")

      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      !{stylesheetsMixin()}
      //if lte IE 8
        link(rel='stylesheet', href='/stylesheets/ie8-style.css')
      -if(user) {
        link(rel='stylesheet', href='/stylesheets/admin-style.css')
      -}
      script(src="/javascripts/modernizr-touch.min.js")

  body
    header
      h1.logo
        a(href="/").logo-link Extrema
      nav.navbar
        .navbar-inner
          .container
            a.btn-toggle(data-toggle="collapse", data-target=".nav-collapse") !{__('show-navbar')}
            .nav-collapse.wrapper
              ul.nav.main-list
                -var selected
                mixin navbarLink(selected, '/', 'Home')
                mixin navbarLink(selected, '/courses', 'Training')
                //- mixin navbarLink(selected, '/team', 'Team')
                mixin navbarLink(selected, '/follow-us', 'Follow-us')
              mixin langDropdown(lang)
              ul.nav.pull-right
                li
                  a(href="/contact").nav-link !{__('Contact')}
              -if (user) {
                mixin navbarControls
              -}

    -if (locals.promptCookies) {
      mixin cookiePermission()
    -}
    .wrapper
      block content

    footer
      nav.navbar.visible-phone
        .navbar-inner
          .container
            ul.nav.main-list
              mixin navbarLink(selected, '/', 'Home')
              mixin navbarLink(selected, '/courses', 'Training')
              //- mixin navbarLink(selected, '/team', 'Team')
              mixin navbarLink(selected, '/follow-us', 'Follow-us')
              li
                a(href="/contact").nav-link !{__('Contact')}
            mixin langPills(lang)
            -if (user) {
              mixin navbarControls
            -}
                

    block scripts
      !{javascriptsMixin()}
      - if (locals.acceptsCookies) {
        include ../includes/analytics
      -}
    // if lte IE 7
      script
        document.ieWarnings = {
          browserWarning: "!{__('browser-warning')}",
          browserWarningDesc: "!{__('browser-warning-p')}"
        }
      script(src="/javascripts/bootstrap-alert.js")
      script(src="/javascripts/old-browser.js")
    // if lt IE 9
      script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
      script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")