!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min2.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    .header
      .navbar.container-fluid
        .navbar-inner
          .container
            ul.nav.first-list
              li
                a.brand(href='/') Extrema
            ul.nav.main-list
              li
                a(href='/') !{__('Home')}
              li
                a(href='/team2') !{__('Team')}
              li
                a(href='/follow-us') !{__('Follow-us')}
            ul.nav.pull-right.langs
              include ../includes/lang-list
    .container-fluid
      !{body}

  script(type="text/javascript", src="/javascripts/jquery-1.7.2.min.js")
  script(type="text/javascript", src="/javascripts/bootstrap-dropdown.js")