
extend ../layouts/layout

append content
  .container-fluid.crash
    .row-fluid
      .span5
        h1 !{__('404-title')}
        h3 !{__('404-error')}
        p !{__('404-explanation')}
      .span7
        img(src="/images/404.jpg", alt=__('404-img-title'), title=__('404-img-title'))
