
extend ../layouts/layout

append content
  .container-fluid.crash
    .row-fluid
      .span5
        h1 !{__('500-title')}
        h3 !{__('500-error')}
        p !{__('500-explanation')}
      .span7
        img(src="/images/404.jpg", alt=__('500-img-title'), title=__('500-img-title'))

