extends ../layouts/layout

append content
  -var alert, fields
  .container-fluid
    .row-fluid
      .span8
        h1 !{__('Contact')}
        p.help-block !{__('required-fields')}
        -if(alert) {
          .alert.alert-danger
            p !{alert}
        -}
        script
          var RecaptchaOptions = {
            theme : 'white',
          };
        form(method="post", action="/contact").contact-form
          .control-group
            label !{__('Name')}:
            input(type="text", name="name", value=(fields && fields.name || false))
          .control-group
            label !{__('Organization')}:
            input(type="text", name="organization", value=(fields && fields.organization || false))
          -var required = '<span class="required" title="' + __('required') + '">*</span>'
          .control-group
            label 
              | Email: 
              | !{required}
            input(type="email", required, name="email", value=(fields && fields.email || false))
          .control-group
            label 
              | !{__('Comment')}:
              | !{required}
            textarea(required, name="comment", rows=10) !{fields && fields.comment || ''}

          .control-group
            script(src='http://www.google.com/recaptcha/api/challenge?k=6LcjZdMSAAAAAM6BSZH_hjej4enmL1KmSyPq5VrP')
      
            noscript
              iframe(src='http://www.google.com/recaptcha/api/noscript?k=your_public_key', height='300', width='500', frameborder='0')
              br
              textarea(name='recaptcha_challenge_field', rows='3', cols='40')
              input(type='hidden', name='recaptcha_response_field', value='manual_challenge')

          button(type="submit") !{__('Submit')}
      .span4.contact-data(itemscope, itemtype="http://schema.org/Corporation")
        .alert.alert-details
          h2.alert-heading Madrid
          p
            b E-mail: 
            a(href="mailto:info@extrema-sistemas.com", title=__('Email-to') + ": info@extrema-sistemas.com", itemprop="email") info@extrema-sistemas.com
          p
            b !{__('Phone')}: 
            a(itemprop="telephone", href="tel:+34911727081") (+34) 91 172 7081
          p
            span.label.label-info !{__('Address')} 
            address(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
              p(itemprop="fn") Extrema Sistemas S.L.
              p(itemprop="streetAddress") C/Casas de Miravete 24A<br />
              span(itemprop="postalCode") 28031 
              span(itemprop="addressCountry") Madrid
              p
                a(href="http://goo.gl/maps/3nDy") &raquo; !{__('seeInGoogleMaps')} 
          p
            span.label.label-info !{__('DirectionsTitle')} 
          p.directions !{__('Directions')} 
          hr
          h2.alert-heading !{__('Italy')}
          p
            b !{__('Phone')} 
            a(itemprop="telephone", href="tel:+390692956158") (+39) 06 929 56 158
          p
            b E-mail: 
            a(href="mailto:italy@extrema-sistemas.com", title=__('Email-to') + ": italy@extrema-sistemas.com", itemprop="email") italy@extrema-sistemas.com
          hr
          h4.join-us !{__('Join-us')}
          -var linkCV = '<a href="mailto:team@extrema-sistemas.com" class="email" title="' + __('Send-CV') + ': team@extrema-sistemas.com">team@extrema-sistemas.com</a>'
          p  
            | !{__('Join-us-p')}
            | !{linkCV}