extends ../layouts/layout

include ../includes/courses-list

append content
  -var courses = items
  .container-fluid
    div#courses-pills
      ul.nav.nav-pills
          mixin courseTab('Javaspecialists', 'javaspecialists')
          mixin courseTab('HTML5', 'HTML5')
          mixin courseTab('Spring', 'spring')
    .tab-content
      .row-fluid.tab-pane#javaspecialists
        .span8
          mixin courseContent('Javaspecialists')
        .span4
          .alert
            !{__('details-javaspecialists')}
          .thumbnail
            img(src="images/tripartita.jpg")
            .caption
              h5 !{__('tripartita')}
      .row-fluid.tab-pane#HTML5
        .span8
          mixin courseContent('HTML5')
        .span4
          .kcontainer(data-show-id="xrd,htP,STe,v3f,BMf")
          .alert
            !{__('details-HTML5')}
          .thumbnail
            img(src="images/tripartita.jpg")
            .caption
              h5 !{__('tripartita')}
      .row-fluid.tab-pane#spring
        .span8
          mixin courseContent('Spring')
        .span4
          .alert
            !{__('details-spring')}
          .thumbnail
            img(src="images/tripartita.jpg")
            .caption
              h5 !{__('tripartita')}

    if(user)
      a(href="/courses/new").btn.btn-large.btn-info New

append scripts
  script(src="//www.koliseo.com/w/kperf/1.0/kperf.min.js")
  //- Activar el pill correcto
  script
    var kcontainer = $('.kcontainer');
    if(location.hash) {
      $('li > [href=' + location.hash + ']').parent().addClass('active')
      $(location.hash).addClass('active')

      //- Fix temporal para widget de Koliseo
      $('.kcontainer').replaceWith('');
      $(location.hash + '> .span4').prepend(kcontainer)
    } else {
      $('li > [href=#HTML5]').parent().addClass('active')
      $('#HTML5').addClass('active')
    }
    //- Fix temporal para widget de Koliseo
    $('[data-toggle="tab"]').on('click', function () {
      $('.kcontainer').replaceWith('');
      $($(this).attr('href') + '> .span4').prepend(kcontainer)
    });

  