extends ../layouts/layout

include ../includes/courses-list

append content
  -var courses = items
  .container-fluid
    div#courses-pills
      ul.nav.nav-pills
          mixin courseTab('HTML5', 'HTML5')
          mixin courseTab('Javaspecialists', 'javaspecialists')
          mixin courseTab('Spring', 'spring')
    .tab-content#courses-content
      .row-fluid.tab-pane#javaspecialists
        .span8
          mixin courseContent('Javaspecialists')
        .span4
          ul.course-conditions
            li
              !{__('vat-exempt')}
            li
              !{__('discount-javasp')}
            li
              !{__('info-javasp')}
          .thumbnail
            img(src="images/tripartita.jpg")
            .caption
              h5 !{__('tripartita')}
      .row-fluid.tab-pane#HTML5
        .span8
          mixin courseContent('HTML5')
        .span4
          .course-conditions
            !{__('details-HTML5')}
          .thumbnail
            img(src="images/tripartita.jpg")
            .caption
              h5 !{__('tripartita')}
      .row-fluid.tab-pane#spring
        .span8
          mixin courseContent('Spring')
        .span4
          .course-conditions
            !{__('details-spring')}
          .thumbnail
            img(src="images/tripartita.jpg")
            .caption
              h5 !{__('tripartita')}

    if(user)
      a(href="/courses/new").btn.btn-large.btn-info New

append scripts
  script(src="//www.koliseo.com/w/kperf/1.0/kperf.min.js")
  //- Activar el pill correcto
  script
    var pill = location.hash || '#HTML5';
    $('li > [href=' + pill + ']').parent().addClass('active');
    $(pill).addClass('active');
 
    // Fix para widget de Koliseo
    var courses = {
      '#javaspecialists': 'xrd',
      '#HTML5': 'htP',
      '#spring': 'STe,v3f,BMf'
    };

    var courseWidget = function (course) {
      return {
        showId: course,
        locale: '!{lang}',
        dateFormat: $('.koliseo-widget').width() < 200? 'dd/mm' : 'Ddd Mm* d*'
      };
    }

    $(pill + '> .span4').prepend('<div class="koliseo-widget"></div>');
    $('.koliseo-widget').kperf(courseWidget(courses[pill]));

    // Fix para widget de Koliseo
    $('[data-toggle="tab"]').on('click', function () {
      var pill = $(this).attr('href');
      $(pill + '> .span4').prepend($('.koliseo-widget'));
      $('.koliseo-widget').kperf(courseWidget(courses[pill]));
    });

  