extends ../layouts/layout

include ../includes/courses-list

mixin tripartita
  -if(lang === 'es' || lang === 'en') {
    aside.thumbnail.tripartita
      img(src="images/tripartita.jpg", alt=__('tripartita'), width="200")
      .caption
        p.tripartita-p !{__('tripartita')}
  -}

append content
  -var courses = items
  .container-fluid
    nav
      ul.nav.nav-pills.courses-pills
          mixin courseTab('HTML5', 'html5-training')
          //- mixin courseTab('Javaspecialists', 'javaspecialists-training')
          mixin courseTab('Spring', 'spring-training')
    .tab-content#courses-content

      //- section.row-fluid.tab-pane#javaspecialists-training
        .span8
          mixin courseContent('Javaspecialists')
        .span4
          aside.course-conditions
            h2.conditions-h !{__('details-course')}
            mixin courseNumbers('1700', '30')
            p !{__('vat-exempt')}
            p !{__('discount-javasp')}
            p !{__('info-javasp')}
          mixin tripartita

      section.row-fluid.tab-pane#html5-training
        .span8
          mixin courseContent('HTML5')
        .span4
          aside.course-conditions
            h2.conditions-h !{__('details-course')}
            mixin courseNumbers('1100', '24')
            p !{__('details-HTML5')}
          mixin tripartita

      section.row-fluid.tab-pane#spring-training
        .span8
          mixin courseContent('Spring')
        .span4
          aside.course-conditions
            h2.conditions-h !{__('details-course')}
            mixin courseNumbers('1975', '32')
            p !{__('details-spring')}
          mixin tripartita

    if(user)
      a(href="/courses/new").btn.btn-large.btn-info New

append scripts
  //- script(src="//www.koliseo.com/w/kperf/1.0/kperf.min.js")
  script

    // Adjuntar el hash correcto al clicar un pill 
    $('.courses-pills li').on('click', function () {
      window.location.hash = $($(this).html()).attr('href');
    });

    // Activar el pill correcto
    var pill = location.hash && location.hash.match(/-training/) ? location.hash : '#html5-training';
    $('[href=' + pill + ']').parent().addClass('active');
    $(pill).addClass('active');

//- $(pill + '> .span4').prepend('<div class="koliseo-widget"></div>');
//- $('.koliseo-widget').kperf(courseWidget(courses[pill]));

//- //- Mover el widget al cambiar de pill
//- $('[data-toggle="tab"]').on('click', function () {
//-   var pill = $(this).attr('href');
//-   $(pill + '> .span4').prepend($('.koliseo-widget'));
//-   $('.koliseo-widget').kperf(courseWidget(courses[pill]));
//- });

  