extends ../layouts/layout

append head
  link(rel="alternate",type="application/rss+xml",title="ex^2 » Feed",href="http://blog.extrema-sistemas.com/feed/")
append content
  .container-fluid
    .row-fluid
      section.span8
        header.blog-header
          h1
            a(href="http://blog.extrema-sistemas.com").ext-h EX^2
            | 
            small.ext-h2 El blog de Extrema Sistemas
        for article in articles
          article.post
            -if(article.image && article.image.url)
              img(src=article.image.url, alt=article.image.title)
            header.post-header
              h1
                a(href=article.link).post-h !{article.title}
              time(datetime=article.date.toISOString(), pubdate).date !{article.date.toLocaleDateString()}
            p !{article.summary}
          hr
      section.span4.tweets-extrema
        h1
          a(href="http://twitter.com/extremasistemas").twitter-h @extremasistemas
        .tweet

append scripts
  script
    jQuery(function($){
      $(".tweet").tweet({
          username: "extremasistemas",
          join_text: "auto",
          count: 5,
          template: '{text}{time}',
          loading_text: "Loading tweets..."
      });
    });
  script(src="/javascripts/jquery.tweet.js")