extends ../layouts/layout

append content
  .container-fluid.training
    h2 !{__('home1')}
    p !{__('home2')}
    ul.thumbnails.row-fluid.courses
      li.span4.javaspecialists
        a(href="/courses#javaspecialists").thumbnail
          .caption
            h4 Javaspecialists
            p !{__('javasp-thumb')}
      li.span4.html5
        a(href="/courses#HTML5").thumbnail
          .caption
            h4 !{__('HTML5-title')}
            p !{__('HTML5-thumb')}
      li.span4.spring
        a(href="/courses#spring").thumbnail
          .caption
            h4 Spring
            p !{__('spring-thumb')}
  .row-fluid.clients
    .span4
      h2 !{__('home3')}
      p !{__('home4')}
    .span8
      span.client-accenture Accenture
      span.client-aena AENA
      span.client-atos Atos
      span.client-bbva BBVA
      span.client-bde Banco de España
      span.client-carrefour Carrefour
      span.client-corteingles El Corte Inglés
      span.client-everis Everis
      span.client-iberdrola Iberdrola
      span.client-icm ICM
      span.client-indra INDRA
      span.client-mapfre Mapfre
      span.client-movistar Movistar
  .study.well
    .row-fluid
      .span3
        img(src="/studies/" + study._id + "/thumb", alt=study.name, title=study.name)
      .span9
        p !{study.description[lang]}
    .row-fluid
      .span12
        a.btn.btn-warning.pull-right(href="/studies") !{__('more-studies')}

append head
  //if lte IE 8
    link(rel='stylesheet', href='/stylesheets/ie8-style.css')