extends ../layouts/layout

append content
  .container-fluid
    .row-fluid.training-home
      h1.home-header !{__('home1')}
      h3.home-header2 !{__('home2')}
      ul.thumbnails.row-fluid.courses-home
        li.span4.javaspecialists-home
          .show-touch
            h4 Javaspecialists
            hr
          .javaspecialists-thumb.home-thumb
            a(href="/courses#javaspecialists").thumbnail
              .caption
                h4 Javaspecialists
                p !{__('javasp-thumb')}
        li.span4.html5-home
          .show-touch
            h4 !{__('HTML5-title')}
            hr
          .html5-thumb.home-thumb
            a(href="/courses#HTML5").thumbnail
              .caption
                h4 !{__('HTML5-title')}
                p !{__('HTML5-thumb')}
        li.span4.spring-home
          .show-touch
            h4 Spring
            hr
          .spring-thumb.home-thumb
            a(href="/courses#spring").thumbnail
              .caption
                h4 Spring
                p !{__('spring-thumb')}
    .consulting-home
      .row-fluid
        .span9
          h2.home-header !{__('home3')}
          p.home-header2 !{__('home4')}
        .span3
          a.btn.btn-info !{__('contact-now')}
    .row-fluid
      .span12.clients-home
        span.client-accenture Accenture
        span.client-aena AENA
        span.client-atos Atos
        span.client-bbva BBVA
        span.client-bde Banco de España
        span.client-carrefour Carrefour
        span.client-corteingles El Corte Inglés
        span.client-everis Everis
        span.client-iberdrola Iberdrola
        span.client-icm ICM
        span.client-indra INDRA
        span.client-mapfre Mapfre
        span.client-movistar Movistar
  -if(study) {
    .study.well
      .row-fluid
        .span3
          img(src="/studies/" + study._id + "/thumb", alt=study.name, title=study.name)
        .span9
          p !{study.description[lang]}
      .row-fluid
        .span12
          a.btn.btn-warning.pull-right(href="/studies") !{__('more-studies')}
  -}
append head
  //if lte IE 8
    link(rel='stylesheet', href='/stylesheets/ie8-style.css')