extends ../layouts/layout

append content
  .container-fluid
    .row-fluid.training-home
      h1.ext-h !{__('home1')}
      h3.ext-h2 !{__('home2')}
      ul.thumbnails.row-fluid.courses-home
        li.span4.javaspecialists-home
          .show-touch
            h4 Javaspecialists
            hr
          .javaspecialists-thumb.home-thumb
            a(href="/courses#javaspecialists").thumbnail
              .caption
                h4 Javaspecialists
                p !{__('javasp-thumb')}
        li.span4.html5-home
          .show-touch
            h4 !{__('HTML5-title')}
            hr
          .html5-thumb.home-thumb
            a(href="/courses#HTML5").thumbnail
              .caption
                h4 !{__('HTML5-title')}
                p !{__('HTML5-thumb')}
        li.span4.spring-home
          .show-touch
            h4 Spring
            hr
          .spring-thumb.home-thumb
            a(href="/courses#spring").thumbnail
              .caption
                h4 Spring
                p !{__('spring-thumb')}
    .consulting-home
      .row-fluid
        .span9
          h2.ext-h !{__('home3')}
          p.ext-h2 !{__('home4')}
        .span3
          a(href="/contact").btn.btn-info !{__('contact-now')}
  -if(study) {
    .row-fluid
        h3.ext-h2 !{__('case-study')}
        hr
      .row-fluid.study
        .span3
          img(src="/studies/" + study._id + "/thumb", alt=study.name, title=study.name)
        .span9
          p.study-p !{study.description[lang]}
          a.btn.btn-warning.pull-right(href="/studies") !{__('more-studies')}
  -}

    .row-fluid
      .span12.clients-home
        span.client-accenture(title="Accenture") Accenture
        span.client-aena(title="AENA") AENA
        span.client-atos(title="Atos") Atos
        span.client-bbva(title="BBVA") BBVA
        span.client-bde(title="Banco de España") Banco de España
        span.client-carrefour(title="Carrefour") Carrefour
        span.client-corteingles(title="El Corte Inglés") El Corte Inglés
        span.client-everis(title="Everis") Everis
        span.client-iberdrola(title="Iberdrola") Iberdrola
        //- span.client-icm(title="ICM") ICM
        span.client-indra(title="INDRA") INDRA
        span.client-mapfre(title="Mapfre") Mapfre
        span.client-movistar(title="Movistar") Movistar