extends ../layouts/layout

append content
  
  h2.ext-h.studies-h !{__('case-studies')}
  ul.case-studies
    -studies.forEach(function (study) {
      li.study.row-fluid
        .span3
          img(src="/studies/" + study._id + "/thumb", alt=study.name, title=study.name)
        .span9
          -if(user) {
            h3
              a(href="/studies/" + study._id + "/edit")!{study.name}
          -} else {
            h3.study-name !{study.name}
          -}
          p.study-p !{study.description[lang]}
  -})

  -if(user) {
    a.btn.btn-large.btn-info(href="/studies/new") New
  -}