extends ../layouts/layout


include ../includes/team-member

append content
  -var members = items
  .container-fluid
    .row-fluid.about(itemscope, itemtype="http://schema.org/Corporation").well
      .details.span4
        img(src="/images/logo-extrema.png", itemprop="image", alt="Extrema Sistemas")
        ul.sociallinks
          li.twitterbiglink
            a(href="http://twitter.com/extremasistemas", title=__('twitter-title') ) Twitter
          li.wordpresslink
            a(href="http://blog.extrema-sistemas.com", title=__('blog-title')) Blog
      .span8(itemprop="description") 
        p !{__('about-us-p1')}
    .study.well
      .row-fluid
        .span3
          img(src="/studies/" + study._id + "/thumb", alt=study.name, title=study.name)
        .span9
          p !{study.description[lang]}
          a.btn.btn-warning.pull-right(href="/studies") !{__('more-studies')}
    .team-members
      -members = _.shuffle(members);
      -for(var i = 0; i < members.length; i += 2) {
        .row-fluid
          -var member = members[i]
            .span6.team-member(itemscope, itemtype="http://schema.org/Person")
              mixin teamMember(member)
            -if(members[i+1])
              -var member = members[i+1]
              .span6.team-member(itemscope, itemtype="http://schema.org/Person")
                mixin teamMember(member)
      -}
  -if(user) {
  a(href="/team/new").btn New
  -}
