extends ../_layouts/default
block i18n
  - title = Contact
block content
  .row
    hgroup.column.small-6
      h1 #{Contact}
    hr
    div(itemscope, itemtype="http://schema.org/Organization")
      meta(itemprop="name" content="Extrema Sistemas S.L.")
      section.column
        br
        p
          a(href="http://blog.extrema-sistemas.com", target="_blank", title="Blog")
            span.icon-round.icon-box
          = followUsBlog
        br
        p
          a(href="http://twitter.com/extremasistemas", target="_blank", title="Twitter")
            span.icon-round.icon-twitter
          = followUsTwitter
      section.large-6.column
        h2 #{Spain}
        dl
          dd
            p 
              b 
                = "E-mail: "
              a(href="mailto:info@extrema-sistemas.com",
                title=emailTo + ": info@extrema-sistemas.com", 
                itemprop="email") info@extrema-sistemas.com
          dd
            p
              b 
                = Phone + ": " 
              a(itemprop="telephone", href="tel:+34911239108") +34 91 123 9108
          dd
            address(itemprop="address",
                    itemscope="",
                    itemtype="http://schema.org/PostalAddress")
              span(itemprop="streetAddress") C/Casas de Miravete 24A
              = ", "
              span(itemprop="postalCode") 28031
              = ", "
              span(itemprop="addressCountry") Madrid
              = " ("
                a(href="http://goo.gl/maps/3nDy") » #{seeInGoogleMaps}
              = ")"
        h2 #{Italy}
        dl
          dd
            p
              b 
                = "E-mail: "
              a(href="mailto:italy@extrema-sistemas.com",
                title=emailTo + ": italy@extrema-sistemas.com",
                itemprop="email") italy@extrema-sistemas.com
          dd
            p
              b 
                = Phone + ": "
              a(itemprop="telephone", href="tel:+393475913782") :  +39 347 5913782
      section.large-6.column
        div(data-interchange="[/map-small.html, (small)], [/map-large.html, (large)]")