extends ../_layouts/default
block i18n
  - title = Training
block content
  div.contain-to-grid.sticky.nested.clearfix
    nav.top-bar.expanded(role="navigation", data-topbar)
      section.top-bar-section
        .row
          dl.sub-nav.column
            dd.tab-title.active
              a(href="#google") Google
            dd.tab-title
              a(href="#spring") Spring
            dd.tab-title
              a(href="#groovy") Groovy
            dd.tab-title
              a(href="#html5") HTML5
    .subsidized-container
      .row
        .column.small-4.medium-2.large-1
          img(src="/img/tripartita.png" alt="Fundación Tripartita" class="tripartita")
        .column.small-8.medium-10.large-11.subsidized
          span.show-for-small !{subsidizedShort}
          span.show-for-medium-up !{subsidized}
    
  mixin course(data)
    article.course-item.row.section(itemscope, itemtype="http://schema.org/Product")
      div.anchor(id=data.koliseoEvent)
      div.column.small-12.medium-6
        h1(itemprop="name") #{data.title}
        metadata(itemprop="url", content="http://extrema-sistemas.com/en/" + currentTab + "/#" + data.koliseoEvent)
        div(itemprop="description")
          != data.desc
        
      aside.column.medium-6._show-for-medium-up(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
        ul.pricing-table
          li.price.text-right 
            b
              span #{Price}: 
              if data.lowestPrice
                span #{from} 
                span(itemprop="price") #{data.lowestPrice}
              else
                span(itemprop="price") #{data.price}
              span.currency(itemprop="priceCurrency") €
            div.price-vat #{VATexempt}
          li.description.text-left <b>#{Duration}:</b> #{data.duration}
          li.description.text-left <b>#{Audience}:</b> #{data.audience}
          li.description.text-left <b>#{Language}:</b> #{data.language}
          if data.requirements
            li.description.text-left <b>#{Requirements}:</b> #{data.requirements}
          li.description.text-left !{standardRequirements}
          if data.certDesc
            li.bullet-item.text-left.certification 
              span.icon.icon-star 
              != data.certDesc
          if data.logo
            li.bullet-item.text-center
              img(class=data.logoClass, src=data.logo, alt=data.title)
        
        
      .small-12.column.section
        
        .row
          .column.small-12
            h2 #{RegisterFor} #{data.title}
            .kcontainer(data-locale=currentLang, data-event-uuid="extrema/" + data.koliseoEvent)
        .row
          .column
            nav
              a.js-show-contents.button.radius <span class="icon-down-open"></span> #{showCourseContents}
              a.js-hide-contents.button.radius.hidden <span class="icon-up-open"></span> #{hideCourseContents}
              a.button.secondary(href="mailto:training@extrema-sistemas.com?subject=#{escapeStr(data.title)}", target="_blank") <span class="icon-mail"></span> #{askForMoreInfo}
        .row.course-contents.clearfix(style='height:0')
          hr
          section.column.small-12.medium-6
            h2 #{Objectives}
            != data.objectives
            if data.syllabus 
              if data.afterCompleting
                h2 #{afterCompleting}
                != data.afterCompleting  
          section.column.small-12.medium-6
            if data.syllabus
              h2 #{Syllabus}
              != data.syllabus
            else
              if data.afterCompleting
                h2 #{afterCompleting}
                != data.afterCompleting
    hr
          

  div
    div.anchor(id="google")
    +course({
      title: "Google Cloud Platform", 
      desc: gcpDesc, 
      logo: '/img/logo-google-big.png',
      koliseoEvent: "google-cloud-platform", 
      lowestPrice: '495', 
      certDesc: gcpCertDesc,
      duration: duration40h,
      language: langEnEs,
      objectives: gcpObjectives,
      syllabus: gcpSyllabus,
      audience: gcpAudience,
      requirements: gcpRequirements
    })
  div
    div.anchor(id="spring")
    +course({
      title: springCoreTitle, 
      desc: springCoreDesc,
      logo: '/img/logo-spring-big.png',
      logoClass: 'logo-spring-big',
      koliseoEvent: "spring-core", 
      price: '1,975', 
      duration: duration32h, 
      certDesc: springCoreVoucher,
      language: langEnEsIt,
      objectives: springCoreObjectives,
      syllabus: springCoreSyllabus,
      audience: springCoreAudience,
      requirements: springCoreRequirements
    })
    +course({
      title: springWhatsNewTitle, 
      desc: springWhatsNewDesc, 
      logo: '/img/logo-spring-big.png',
      logoClass: 'logo-spring-big',
      koliseoEvent: "spring-whatsnew", 
      price: '1,295', 
      duration: duration24h, 
      //certDesc: springCoreVoucher,
      language: langEnEsIt,
      objectives: springWhatsNewObjectives,
      syllabus: springWhatsNewSyllabus,
      audience: springWhatsNewAudience
    })
    +course({
      title: springWebTitle, 
      desc: springWebDesc, 
      logo: '/img/logo-spring-big.png',
      logoClass: 'logo-spring-big',
      koliseoEvent: "spring-web", 
      price: '1,975', 
      duration: duration32h, 
      certDesc: springWebVoucher,
      language: langEnEsIt,
      objectives: springWebObjectives,
      syllabus: springWebSyllabus,
      audience: springWebAudience
      //requirements: springWebRequirements
    })
    +course({
      title: "Enterprise Integration with Spring", 
      desc: eiwsDesc, 
      logo: '/img/logo-spring-big.png',
      logoClass: 'logo-spring-big',
      koliseoEvent: "enterprise-integration-with-spring", 
      price: '1,975', 
      duration: duration32h, 
      certDesc: eiwsVoucher,
      language: langEnEsIt,
      objectives: eiwsObjectives,
      syllabus: eiwsSyllabus,
      audience: eiwsAudience
      //requirements: eiwsRequirements
    })
    +course({
      title: hibernateWithSpringTitle, 
      desc: hibernateWithSpringDesc, 
      logo: '/img/logo-spring-big.png',
      logoClass: 'logo-spring-big',
      koliseoEvent: "hibernate-with-spring", 
      price: '1,695', 
      duration: duration24h,
      language: langEnEsIt,
      objectives: hibernateWithSpringObjectives,
      syllabus: hibernateWithSpringSyllabus,
      audience: hibernateWithSpringAudience,
      requirements: hibernateWithSpringRequirements
    })
  div
    div.anchor(id="groovy")
    +course({
      title: "Groovy & Grails", 
      desc: grailsDesc, 
      logo: '/img/logo-spring-big.png',
      logoClass: 'logo-spring-big',
      koliseoEvent: "groovy-and-grails", 
      price: '1,995', 
      duration: duration32h,
      language: langEnIt,
      objectives: grailsObjectives,
      afterCompleting: grailsAfterCompleting,
      syllabus: grailsSyllabus,
      audience: grailsAudience,
      requirements: grailsRequirements
    })
  div
    div.anchor(id="html5")
    +course({
      title: "HTML5 & CSS3", 
      desc: html5Desc,
      logo: '/img/logo-html5-big.png',
      koliseoEvent: "html5-and-css3",
      price: '900',
      duration: duration24h,
      language: langEnEs,
      objectives: html5Objectives,
      afterCompleting: html5AfterCompleting,
      audience: html5Audience,
      requirements: html5Requirements,
      multipleRegistrations: html5MultipleRegistrations
    })