extends ../_layouts/default
block i18n
  - title = Training
block content
  nav.magellan-container(data-magellan-expedition="fixed")
    .magellan-bar
      .row
        dl.sub-nav.column
          dd.tab-title(data-magellan-arrival="google")
            a(href="#google") Google
          dd.tab-title(data-magellan-arrival="spring")
            a(href="#spring") Spring
          dd.tab-title(data-magellan-arrival="html5")
            a(href="#html5") HTML5
          dd.tab-title(data-magellan-arrival="groovy")
            a(href="#groovy") Groovy
    .subsidized-container
      .row
        .column.small-4.medium-2.large-1
          img(src="/img/tripartita.png" alt="Fundación Tripartita" class="tripartita")
        .column.small-8.medium-10.large-11.subsidized
          span.show-for-small !{subsidizedShort}
          span.show-for-medium-up !{subsidized}
  
  mixin course(data)
    article.course-item.row.section(itemscope, itemtype="http://schema.org/Product")
      div.column.small-12.medium-6
        h1(itemprop="name") #{data.title}
        metadata(itemprop="url", content="http://extrema-sistemas.com/en/" + currentTab + "/#" + data.koliseoEvent)
        div(itemprop="description")
          != data.desc
        
      aside.column.medium-6.show-for-medium-up(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
        ul.pricing-table
          li.price.text-right 
            b
              span #{Price}: 
              span(itemprop="price") #{data.price}
              span.currency(itemprop="priceCurrency") €
            div.price-vat #{VATexempt}
          if data.certDesc
            li.bullet-item.text-left.certification 
              span.icon.icon-star 
              != data.certDesc
          li.bullet-item.text-left #{Duration}: #{data.duration}
          li.bullet-item.text-left #{Language}: #{data.language}
          li.bullet-item.text-left #{Audience}: #{data.audience}
          li.bullet-item.text-left #{Requirements}: #{data.requirements}

          li.description.text-left #{standardRequirements}
          if data.logo
            li.bullet-item.text-center
              img(src=data.logo, alt=data.title)
        
        
      .small-12.column.section
        
        .course-contents.row.clearfix(style='height:0')
          hr
          section.column.small-12.medium-6
            h2 #{Objectives}
            != data.objectives
            if data.syllabus 
              if data.afterCompleting
                h2 #{afterCompleting}
                != data.afterCompleting  
          section.column.small-12.medium-6
            if data.syllabus
              h2 #{Syllabus}
              != data.syllabus
            else
              if data.afterCompleting
                h2 #{afterCompleting}
                != data.afterCompleting
          hr
        .row
          .column.small-12
            h2 #{RegisterFor} #{data.title}
            .kcontainer(data-locale=currentLang, data-event-uuid="extrema/" + data.koliseoEvent)
        .row
          .column
            nav
              a.js-show-contents.button.radius <span class="icon-down-open"></span> #{showCourseContents}
              a.js-hide-contents.button.radius.hidden <span class="icon-up-open"></span> #{hideCourseContents}
              a.button.secondary(href="mailto:training@extrema-sistemas.com?subject=#{escapeStr(data.title)}", target="_blank") <span class="icon-mail"></span> #{askForMoreInfo}
    hr
          

  div.active(id="google", data-magellan-destination="google")
    +course({
      title: "Google Cloud Platform", 
      desc: gcpDesc, 
      logo: '/img/logo-google-big.png',
      koliseoEvent: "google-cloud-platform", 
      price: '2,095', 
      certDesc: gcpCertDesc,
      duration: gcpDuration,
      language: gcpLanguage,
      objectives: gcpObjectives,
      syllabus: gcpSyllabus,
      audience: gcpAudience,
      requirements: gcpRequirements
    })
  div(id="spring", data-magellan-destination="spring")
    +course({
      title: hibernateWithSpringTitle, 
      desc: hibernateWithSpringDesc, 
      logo: '/img/logo-spring-big.png',
      koliseoEvent: "hibernate-with-spring", 
      price: '1,695', 
      duration: hibernateWithSpringDuration,
      language: hibernateWithSpringLanguage,
      objectives: hibernateWithSpringObjectives,
      syllabus: hibernateWithSpringSyllabus,
      audience: hibernateWithSpringAudience,
      requirements: hibernateWithSpringRequirements
    })
    +course({
      title: springCoreTitle, 
      desc: springCoreDesc,
      logo: '/img/logo-spring-big.png',
      koliseoEvent: "spring-core", 
      price: '1,975', 
      duration: springCoreDuration, 
      certDesc: springCoreVoucher,
      language: springCoreLanguage,
      objectives: springCoreObjectives,
      syllabus: springCoreSyllabus,
      audience: springCoreAudience,
      requirements: springCoreRequirements
    })
    +course({
      title: springWebTitle, 
      desc: springWebDesc, 
      logo: '/img/logo-spring-big.png',
      koliseoEvent: "spring-web", 
      price: '1,975', 
      duration: springWebDuration, 
      certDesc: springWebVoucher,
      language: springWebLanguage,
      objectives: springWebObjectives,
      syllabus: springWebSyllabus,
      audience: springWebAudience,
      requirements: springWebRequirements
    })
    +course({
      title: "Enterprise Integration with Spring", 
      desc: eiwsDesc, 
      logo: '/img/logo-spring-big.png',
      koliseoEvent: "enterprise-integration-with-spring", 
      price: '1,975', 
      duration: eiwsDuration, 
      certDesc: eiwsVoucher,
      language: eiwsLanguage,
      objectives: eiwsObjectives,
      syllabus: eiwsSyllabus,
      audience: eiwsAudience,
      requirements: eiwsRequirements
    })
  div(id="html5", data-magellan-destination="html5")
    +course({
      title: "HTML5 & CSS3", 
      desc: html5Desc,
      koliseoEvent: "html5-and-css3",
      price: '900',
      duration: html5Duration,
      language: html5Language,
      objectives: html5Objectives,
      afterCompleting: html5AfterCompleting,
      audience: html5Audience,
      requirements: html5Requirements,
      multipleRegistrations: html5MultipleRegistrations
    })
  div(id="groovy", data-magellan-destination="groovy")
    +course({
      title: "Groovy & Grails", 
      desc: grailsDesc, 
      logo: '/img/logo-spring-big.png',
      koliseoEvent: "groovy-and-grails", 
      price: '1,995', 
      duration: grailsDuration,
      language: grailsLanguage,
      objectives: grailsObjectives,
      afterCompleting: grailsAfterCompleting,
      syllabus: grailsSyllabus,
      audience: grailsAudience,
      requirements: grailsRequirements
    })
