footer.show-for-small-only
  div.small-12
    ul.footer-block-list
      - tabs = { 'home': Home, 'courses': Training, 'http://blog.extrema-sistemas.com': "Blog", 'contact': Contact }
      each name, link in tabs
        li
          if (name == "Blog")
            a(href=link) #{name}
          else 
            a(href="/" + currentLang + "/" + link) #{name}
  div.small-12
    ul.footer-inline-list
      each name, path in langs
        li(class=currentLang == path? "active" : "")
          a.nav-link(href="/" + path + "/" + currentTab) #{name}