div.banner.show-for-small-only
header.contain-to-grid.clearfix
  nav.top-bar(data-topbar, role="navigation")
    ul.title-area
      li.name
        h1
          a.top-logo Extrema Sistemas
      li.toggle-topbar.menu-icon
        a 
          span Menu
    section.top-bar-section
      ul.right
        - tabs = { 'training': Training, 'http://blog.extrema-sistemas.com': "Blog", 'contact': Contact }
        each name, link in tabs
          li(class=currentTab == link? "active" : "")
            if (name == "Blog")
              a(href=link, target="_blank") #{name}
            else 
              a(href="/" + currentLang + "/" + link) #{name}
        li.has-dropdown.show-for-medium-up
          a #{langs[currentLang]}
          ul.dropdown
            each lang, locale in langs
              if locale != currentLang
                li
                  a(href="/" + locale + "/" + currentTab) #{lang}